{% extends "layout.html" %}
{% block content %}

<h2>Lisää uusi kohde</h2>

<form action="/add_place" method="post">
Nimi: 
<input type="text" minlength="1" maxlength="40" name="name">
<br>
Osoite:
<input type="text" minlength="1" maxlength="40" name="address">
<br>

<p>Kuvaus: <br>
<textarea maxlength="1000" name="description" rows="3" cols="40">
Kirjoita tähän.
</textarea></p>

<p>
Aukioloajat (jätä tyhjäksi, jos kyseisenä päivänä suljettu):
<ul>
    <li>Ma: <input type="time" name="open_mon"> - <input type="time" name="close_mon"></li>
    <li>Ti: <input type="time" name="open_tue"> - <input type="time" name="close_tue"></li>
    <li>Ke: <input type="time" name="open_wed"> - <input type="time" name="close_wed"></li>
    <li>To: <input type="time" name="open_thu"> - <input type="time" name="close_thu"></li>
    <li>Pe: <input type="time" name="open_fri"> - <input type="time" name="close_fri"></li>
    <li>La: <input type="time" name="open_sat"> - <input type="time" name="close_sat"></li>
    <li>Su: <input type="time" name="open_sun"> - <input type="time" name="close_sun"></li>
</ul>
</p>

<p>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p><a href="/">Takaisin</a></p>
{% endblock %}