{% extends "layout.html" %}
{% block content %}

<h2>Etusivu</h2>

{% if session.user_id %}
Olet kirjautunut sisään nimellä <b>{{session.user_name}}</b>. <a href="/logout">Kirjaudu ulos</a>
{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}

{% if session.user_role == 2 %}
<h3>Ylläpitäjän toiminnot:</h3>
<ul>
    <li><a href="/add_place">Lisää uusi kohde palveluun</a></li>
    <li><a href="/add_group">Luo uusi ryhmä</a></li>
    <li><a href="/update">Muokkaa tietoja</a></li>
</ul>
{% endif %}
<p>

<form action="/search" method="get">
Etsi paikkoja hakusanalla:
<input type="text" name="query" minlength="1" maxlength="20">
</form>

<p>

Katso <a href="/list">listana</a>.

{% endblock %}