{% extends "layout.html" %}
{% block content %}

<h2>Etusivu</h2>

{% if session.user_id %}
Olet kirjautunut sisään nimellä <b>{{session.user_name}}</b>. <a href="/logout">Kirjaudu ulos</a>
{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}

{% if session.user_role == 2 %}
<h3>Ylläpitäjän toiminnot:</h3>
<ul>
    <li><a href="/add_place">Lisää uusi kohde palveluun</a></li>
    <li><a href="/add_group">Luo uusi ryhmä</a></li>
    <li><a href="/update">Muokkaa tietoja</a></li>
</ul>
{% endif %}
<p>

<form action="/search" method="post">
Etsi paikkoja hakusanalla: <br>
<input type="text" name="query" minlength="1" maxlength="20">
<input type="submit" value="Etsi">
</form>

<p>

Katso <a href="/list">listana</a>.

<p>

<div id="map"></div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    async function initMap() {
        let MyCenter = {lat:60.185650, lng:24.938089};
        let map = new google.maps.Map(
            document.getElementById('map'), {zoom:11, center:MyCenter}
            )
    }
    initMap()
</script>
{% endblock %}
