{% extends "layout.html" %}
{% block content %}

<h2>Lisätietoja</h2>

<h3>{{ name }}</h3>

{% if groups %}
<table>
<tr>
{% for group in groups %}
<td>{{ group.name }}</td> 
</tr>
</table>
{% endfor %}
{% endif %}
<p>
Osoite: {{ address }} <br>
Aukioloajat:<br>
<table>
<tr><th>Ma</th><th>Ti</th><th>Ke</th><th>To</th><th>Pe</th><th>La</th><th>Su</th></tr>
<tr>
{% for day in hours %}
<td class="hours">{{ day }}</td>
{% endfor %}
</tr>
</table>
<p>
Kuvaus:<br>
{{ description }}
<p>
{% if session.user_id %}
<a href="/reviews/{{ id }}">Katso arvostelut</a> | <a href="/post_review/{{ id }}">Anna arvio</a>
{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}
<p>
<a href="/">Etusivulle</a> | <a href="/list">Listaus</a>
{% endblock %}
