{% extends  "layout.html" %}
{% block content %}
<h2>Arvostelut</h2>
<hr>
{% if reviews %}
{% for review in reviews %}
<i>Käyttäjältä:</i> {{ review[1]}}
<p>
{{ review[2] }}/5 tähteä
<p>
{{ review[3] }}
<p>
<i>Lähetetty:</i> {{ review[4].strftime("%Y-%m-%d %H:%M:%S") }}
{% if session.user_role==2 %}
<p>
    <form action="/delete_review/{{ review[0] }}" method="post">
        <input type="submit" value="Poista arvio">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="place_id" value="{{ id }}">
    </form>
</p>
{% endif %}
<hr>
{% endfor %}
{% endif %}
<a href="/">Etusivulle</a>
{% endblock %}
